@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");

body {
  font-family: "Open Sans";
  color: #000;
}

.header-bg {
  background: #1a1a1a;
  padding: 20px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.frenchie {
  text-align: right;
  padding-top: 2rem;
  color: white;
}

.error-msg {
  color: red;
  font-weight: 700;
}

.prompt {
  margin: 1rem 1.25rem 1.25rem;
}
